/* - Mobile: 375px
- Desktop: 1440px */

/* Colors */
:root {
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);
  --neutral-very-dark-blue: hsl(212, 21%, 14%);
  --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);
}

/* Fonts */
body {
  font-size: 14px;
  background-color: var(--primary-cream);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

 /* font-family: 'Fraunces', serif; 700
font-family: 'Montserrat', sans-serif; 500 700 */


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  margin-top: 2rem;
  background-color: var(--neutral-white);
  border-radius: 15px;
}

.perfume-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.text-wrapper {
  margin: 1rem;
}

.container h2 {
  letter-spacing: 5px;
}

.container h1 {
  letter-spacing: 1px;
  word-spacing: 1px;
}

.container p {
  word-spacing: 1px;
}

.prices {
  letter-spacing: .5px;
} 

.current-price {
  font-family: 'Fraunces', serif;
}

.old-price {
  text-decoration: line-through;
}

button {
  margin-right: 6px;
  margin-bottom: 6px;
  display:inline-flex;
  align-items:center;
  justify-content: center;
  width: 100%;
}

.imi-btn {
  text-align: center;
  background-color: var(--primary-dark-cyan);
  border: 1px solid transparent;
  padding: 0 15px;
  height: 32px;
  color: #fff;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  transition: 0.5s;
  
  outline: none;
}

.imi-icon {
  /* vertical-align: -0.05em; */
  cursor: pointer;
  display: inline-flex;
  margin-right: 5px;
  width: 17px;
  height: 17px;
}

.attribution {
  margin-top: auto;
  font-size: 10px;
}