/* - Mobile: 375px
- Desktop: 1440px */

/* Colors */
:root {
  --primary-dark-cyan: hsl(158, 36%, 37%);
  --primary-cream: hsl(30, 38%, 92%);
  --neutral-very-dark-blue: hsl(212, 21%, 14%);
  --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
  --neutral-white: hsl(0, 0%, 100%);
}

/* Fonts */
body {
  font-size: 14px;
  background-color: var(--primary-cream);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

 /* font-family: 'Fraunces', serif; 700
font-family: 'Montserrat', sans-serif; 500 700 */


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  margin-top: 2rem;
  background-color: var(--neutral-white);
  border-radius: 15px;
}

.perfume-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.container h2 {

}

.container h1 {

}

.container p {

}

.prices {

} 

.current-price {

}

.old-price {

}

button {

}

.attribution {
  margin-top: auto;
}

#search-button {
  width: 100px;
  height: 50px;
}
    
#search-button svg {
  width: 25px;
  height: 25px;
}